


<% if @article.errors.any? %>
      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>



<%= f.label :topic, "Topic" %>
<%= f.text_field :topic %>

<%= f.label :content, "Content" %>
<%= f.text_area :content %>