

<table class="table">
  <tr>
    <td>
      <%= link_to 'Sort by viewed', articles_path( topics_filter( :order => "view") ) %> /
      <%= link_to 'Sort by comments', articles_path( topics_filter( :order => "comments_count") ) %> /
      <%= link_to 'Sort by last comments', articles_path( topics_filter( :order => "last_comment_time") ) %> /
      <%= link_to 'Sort by Name', articles_path( topics_filter( :order => "topic") ) %> / 
      <%= link_to 'Sort by Default', articles_path %>
    </td>
    <td>
      <%= form_tag articles_path, :method => :get do %>
        <%= collection_select( :category, :id, Category.all, :id, :name,{:include_blank => '選擇文章類別or不分類'}) %>
        <%= text_field_tag "keyword" %>
        <%= submit_tag "Search" %>
      <% end %>
    </td>
  </tr>
</table>

<table class="table table-striped">
  <tr>
    <th>文章標題</th>
    <th>發佈者</th>
    <th>文章點擊數</th>
    <th>回覆數with cache</th>
    <th>回覆數</th>
    <th>最後回覆時間</th>
    <th>最後回覆時間with touch</th>
    <% if current_user %>
      <th>操作</th>
    <% else %>
      <th></th>
    <% end %>
  </tr>
  <% @articles.each do |a| %>
  <tr>
    <td>
        <%= link_to a.topic, article_path(a), :class => "btn btn-default btn-block" %>
    </td>
    <td>
      by: <%= link_to a.user.display_name, profile_path( a.user ) %>
    </td>

    <td><%= a.view %></td>
    <td><%= a.comments.size %></td>
    <td><%= a.comments_count %></td>
    <td><%= a.comments.last.try(:updated_at).try(:to_s, :short) %></td>
    <td><%= a.try(:last_comment_time).try(:to_s, :short) %></td>
    <td>
      <% if a.can_edit_by?(current_user) %>
    
        <div class="btn-group">
          <button type="button" class="btn btn-default"><%= link_to "內容與其他", article_path(a) %></button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            
            <li><%= link_to "Edit Topic", edit_article_path(a), :class => "btn btn-info" %></li>
            <li><%= link_to "Delete Topic", article_path(a), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger" %></li>
          </ul>
        </div>
      <% end %>
    </td>

  </tr>
  <% end %>
</table>

<p><%= paginate @articles %></p>
<i class="fa fa-qq"></i><i class="fa fa-weixin"></i>