<h1><%= @article.topic %></h1>

<table class="table">
    <tr>
      <th>類別</th>
      <th>詳細內容</th>
    </tr>
    <tr>
      <td>
        <ul>
          <% @article.categories.each do |c| %>
            <li>
              <%= c.name %>
            </li>
          <% end %>
        </ul>
      </td>
      <td><%= simple_format(@article.content) %></td>
    </tr>
</table>

<hr>
<p>Here to show Comments:</p>



<table class="table">
  <tr>
    <th>回覆內容</th>
    <th>回覆者</th>
    <th>時間</th>
    
    <th>操作</th>
    
  </tr>
  <% @comments.each do |cm| %>
  <tr>
    <td><%= simple_format(cm.reply) %></td>
    <td><%= cm.user.display_name %></td>
    <td><%= cm.updated_at.to_s(:short) %></td>
    
    <% if current_user && cm.user == current_user %>
    <td>
      <%= link_to "Edit", article_path(@article, :comment_id => cm), :class => "btn btn-info" %>
      <%= link_to "delete", article_comment_path(@article, cm), :method => :delete, :class => "btn btn-danger" %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>


<%if params[:comment_id] %>
  <% url = article_comment_path(@article, @comment) %>
<% else %>
  <% url = article_comments_path(@article) %>
<% end %>

<%= form_for @comment, :url => url do |f| %> 

<%= f.label :reply, "回覆" %>
<%= f.text_area :reply, :class => "form-control" %>
<%= f.submit "Send" %>
<% end %>

<p><%= link_to '回首頁', root_path %></p>